<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	colors="true"
	bootstrap="app/config/bootstrap.php"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnFailure="true">

	<testsuites>
		<testsuite name="Unit Tests">
            <directory>app/tests/unit/</directory>
		</testsuite>
		<testsuite name="Integration Tests">
            <directory>app/tests/integration/</directory>
		</testsuite>
	</testsuites>

	<logging>
        <log type="coverage-html" target="app/tests/web/coverage" charset="UTF-8" yui="false" highlight="true" lowUpperBound="65" highLowerBound="85"/>
	</logging>
</phpunit>
